<?xml version="1.0"?>
<launch>

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
                <remap from="scan" to="/scan" />" 

		<!--Filter Parameters-->
		<param name="min_particles" value="500"/>
		<param name="max_particles" value="5000"/>
		<param name="kld_err" value="0.20"/>
		<param name="kld_z" value="0.80"/>
		<param name="update_min_d" value="0.2"/>
		<param name="update_min_a" value="0.1"/>
		<param name="resample_interval" value="2"/>
		<param name="transform_tolerance" value="0.1"/>
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>
		<param name="initial_pose_x" value="0.0"/>
		<param name="initial_pose_y" value="0.0"/>
		<param name="initial_pose_a" value="0.0"/>
		<param name="initial_cov_xx" value="0.1"/>
		<param name="initial_cov_yy" value="0.1"/>
		<param name="initial_cov_aa" value="0.0685"/>
		<!-- Publish scans from best pose at a max of 100 Hz -->
		<param name="gui_publish_rate" value="5.0"/>
		<param name="save_pose_rate" value="30.0"/>
		<param name="use_map_topic" value="true"/>
		<param name="selective_resampling" value="true"/>

		<!--Laser Model Parameters-->
		<param name="laser_min_range" value="-1.0"/>
		<param name="laser_max_range" value="29.0"/>
		<param name="laser_max_beams" value="30"/>
		<param name="laser_z_hit" value="0.9"/>
		<param name="laser_z_short" value="0.05"/>
		<param name="laser_z_max" value="0.05"/>
		<param name="laser_z_rand" value="0.1"/>
		<param name="laser_sigma_hit" value="0.1"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_likelihood_max_dist" value="4.0"/>
		<param name="laser_model_type" value="likelihood_field"/>

		<!--Odometry Parameters-->
		<param name="odom_model_type" value="diff-corrected"/>
		<!-- Correcting Orientation Issues -->
		<param name="odom_alpha1" value="0.0020"/>
		<!-- Correcting drifting casued by the difference in efficiency in motors(speed of left and right wheel are different) -->
		<param name="odom_alpha2" value="0.0005"/>
		<!-- Correcting the forward movement -->
		<param name="odom_alpha3" value="0.0200"/>
		<!-- Correcting the forward and backward movement, when making a turn -->
		<param name="odom_alpha4" value="0.0001"/>
		<!-- Not needed because we are not using omni(3d)-->
		<param name="odom_alpha5" value="0.1"/>
		
		<!--ID and TF Paramters-->
		<param name="odom_frame_id" value="odom_combined"/>
		<param name="base_frame_id" value="base_link"/>
                <param name="global_frame_id" value="map"/>
		<param name="tf_broadcast" value="true"/>
		
		
	</node>
</launch>

